<p id="notice"><%= notice %></p>

<h1>Ranking</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items_and_votes.each do |item| %>
      <tr>
        <td><%= item[0].item.name %></td>
        <td><%= item[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
<br>
<%= link_to 'New Vote', '/votes/new' %>
